@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Quicksand:400,700&display=swap');
// font-family: 'Handlee', cursive;
// font-family: 'Quicksand', sans-serif;
*{
    //color: #fff !important;
}
body{
    font-family: 'Quicksand', sans-serif;
    background: rgb(226, 226, 226);
    font-size: 16px;
    color: #555;
    line-height: 26px;
    margin: 0;
}
hr{
    opacity: 0.3;
}
h2, h3, h4, h5{
    font-family: 'Roboto Slab', serif;
    color: #777;
}
h2{
    font-size: 20px;
    line-height: 30px;   
}
h3{
    font-size: 18px;
    line-height: 28px;   
}
h4{
    font-size: 16px;
    line-height: 16px;   
}
h5{
    font-size: 14px;
    line-height: 14px;   
}
.padding{
    margin: 25px;
}
section{
    display: flex;
    #containerPosts{
        width: 70%;
        .grid{
            .item{
                .content{
                    .header{
                        display: flex;
                        align-items: center;
                        justify-items: auto;
                        justify-content: space-between;
                        padding: 5px 15px;
                        .category{
                            font-size: 10px;
                        }
                        .date{
                            font-size: 10px;
                        }
                    }
                    .image{
                        background-image: url('http://noverbal.es/uploads/blog/rostro-de-un-criminal.jpg');
                        background-position: center;
                        background-size: cover;
                        height: 200px;
                        //border: solid 1px #eee;
                    }
                    .title{
                        padding: 15px;
                        h3{
                            font-size: 16px;
                            margin: 0;
                            a{
                                color: #333;
                                text-decoration: none;
                            }
                        }
                    }
                    .body{
                        padding: 0 15px 15px 15px;
                        p{
                            font-size: 14px;
                            margin: 0 0 10px 0;
                            line-height: 24px;
                            b{
                                i{
    
                                }
                            }
                        }
                    }
                    .footer{
    
                    }   
                }
            }
        }
    }
    aside{
        width: 30%;
        position: fixed;
        right: 0;
        top: 0;
        background: #fff;
        height: 100%;
        box-shadow: -1px 0 3px rgb(209, 209, 209);
        text-align: center;
        overflow-y: auto;
        h2{
            font-size: 25px;
            color: #fff;
        }
        .image{
            // background-image: url('http://noverbal.es/uploads/blog/rostro-de-un-criminal.jpg');
            background-position: center;
            background-size: cover;
            width: 150px;
            border-radius: 50%;
            border: solid 2px #eee;
            display: block;
            margin: auto;
            &:after{
                content: '';
                display: block;
                padding-top: 100%;
            }
        }
        h3{
            text-align: center;   
        }
    }
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-rows: 20px;
  }
  
  /* Non-grid specific CSS */  
  
  .item {
    background-color: #ffffff;
  }
  
  .photothumb{
    width: 100%;
  }