#singlePage{
    width: calc(70% - 30px);
    padding: 15px;
    .padding{
        .header{
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }
        .image{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 250px;
            margin-bottom: 15px;
        }
        h2{
            margin: 0 0 15px 0;
        }
        .description{
            
        }
    }
}