#sidebar{
    width: 30%;
    position: fixed;
    right: 0;
    top: 0;
    background: #fff;
    height: 100%;
    box-shadow: -1px 0 3px rgb(209, 209, 209);
    text-align: center;
    overflow-y: auto;
    h2{
        font-size: 25px;
        color: #fff;
    }
    .image{
        // background-image: url('http://noverbal.es/uploads/blog/rostro-de-un-criminal.jpg');
        background-position: center;
        background-size: cover;
        width: 150px;
        border-radius: 50%;
        border: solid 2px #eee;
        display: block;
        margin: auto;
        &:after{
            content: '';
            display: block;
            padding-top: 100%;
        }
    }
    h3{
        text-align: center;   
    }
}